.courses-list{
  position: relative;
  // margin-top: 300px;
  &_grids{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &_colCours6{
      width: 50%;
      &_listCour{
        display: flex;
        align-items: center;
        text-align: center;
        &_blocks{
          display: flex;
          align-items: center;
          color: var(--bodyColor);
          font-size: 18px;
          font-weight: 600;
          &_listAss{
            width: 60px;
            height: 60px;
            font-size: 25px;
            line-height: 64px;
            text-align: center;
            border-radius: 4px;
            display: inline-block;
            color: var(--blackColor);
            background-color: #f0f0f0;
            &:hover, &.active {
              color: var(--whiteColor);
              background-color: var(--mainColor);
            }
            &:nth-child(1){
              margin-right: 16px;
            }
          }
          &_listTes{
            margin-right: 0;
            margin-left: 10px;
            color: var(--bodyColor);
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
      &_selec{
        border: none;
        font-size: 18px;
        font-weight: 600;
        max-width: 272px;
        box-shadow: unset;
        padding: 17px 20px;
        color: var(--bodyColor);
        background-color: #f0f0f0;
        outline: none;
        &_opt{
          font-size: 18px;
          line-height: 1.5;
          color: var(--bodyColor);
        }
      }
    }
  }
  &_listRows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_listCol-4{

    }
  }
}