.comment-card {
  display: flex;
  gap: 25px;
  
  padding-top: 30px;
  border-top: 1px solid #f0f0f0;

  position: relative;
  .image {
    img {
      border-radius: 50%;
      width: 72px;
      height: 72px;
    }
  }
  .content {
    display: grid;
    gap: 15px;
    h5 {
      font-size: 18px;
      font-weight: 600;
      color: var(--blackColor);
    }
    p {
      color: var(--bodyColor);
      font-size: 16px;
      font-weight: 500;
    }
  }
  .reply {
    position: absolute;
    top: 12px;
    right: 0;

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 8px 13px;
    border-radius: 4px;

    background-color: #e3f9f6;
    color: #1cca81;

    span {
      font-weight: 500;
      font-size: 16px;
    }
    &:hover {
      background-color: #1cca81;
      color: var(--whiteColor);
    }
  }
  &:first-child {
    border-top: none;
  }
  &.replyed {
    margin-left: 100px;
  }
}
