<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\makhmudov1602\Desktop\Yusufali's Projects\Online-Courses-Plarform\my_env\Scripts\python.exe|&quot;C:\Users\makhmudov1602\Desktop\Yusufali's Projects\Online-Courses-Plarform\config\wsgi.py&quot;" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
