.items {
  padding-top: 110px;
  padding-bottom: 136px;
  .item {
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.07);
    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 25px;
    }
    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        border: 0;
        height: 60px;
        font-weight: 500;
        box-shadow: unset;
        padding-left: 20px;
        border-radius: 4px 0 0 4px;
        color: var(--bodyColor);
        background-color: #f0f0f0;
        outline: none;
      }
      button {
        border: 0;
        padding: 19px 20px;
        transition: var(--transition);
        border-radius: 0px 4px 4px 0px;
        background-color: var(--mainColor);
        color: var(--whiteColor);
        svg {
          width: 20px;
          height: 20px;
        }
        &:hover {
          background-color: var(--blackColor);
        }
      }
    }
    .categories {
      display: grid;
      gap: 25px;

      button {
        transition: var(--transition);
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 4px;
        padding: 18px 20px;

        font-size: 16px;
        font-weight: 500;

        max-height: 60px;
        border: none;

        color: var(--bodyColor);
        &:hover {
          color: var(--whiteColor);
          background-color: var(--mainColor);
        }

        &.active {
          color: var(--whiteColor);
          background-color: var(--mainColor);
        }
      }
    }
    .recent-blogs {
      display: grid;
      .recent-blog {
        display: flex;
        align-items: center;
        gap: 16px;

        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #f0f0f0;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }

        .image {
          img {
            height: 86px;
            width: 80px;
            border-radius: 4px;
          }
        }
        .blog-content {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          h4 {
            margin-bottom: 8px;
            a {
              font-size: 18px;
              font-weight: 600;
              color: var(--blackColor);
              &:hover {
                color: var(--mainColor);
              }
            }
          }

          .read-more {
            font-size: 16px;
            font-weight: 500;
            color: #1cca81;
            &:hover {
              color: var(--mainColor);
            }
          }
        }
      }
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 0;
      justify-content: space-around;
      .tag {
        font-weight: 500;
        padding: 4px 12px;
        border-radius: 2px;
        display: inline-block;
        color: var(--bodyColor);
        transition: var(--transition);

        background-color: #f0f0f0;
        font-size: 16px;
        border: none;
        &:hover {
          color: var(--whiteColor);
          background-color: var(--mainColor);
        }
        &.active {
          color: var(--whiteColor);
          background-color: var(--mainColor);
        }
      }
    }
    .feeds {
      display: flex;
      flex-wrap: wrap;
      gap: 15px 0;
      justify-content: space-evenly;
      .feed {
        transition: var(--transition);

        position: relative;
        img {
          width: 106px;
          height: 91px;
          border-radius: 4px;
        }
        svg {
          position: absolute;
          visibility: hidden;
          width: 36px;
          height: 36px;
          left: 36px;
          top: 29px;
          color: #fff;
        }

        &:hover {
          transform: translateY(-7px);
          svg {
            visibility: visible;
          }
          img {
            filter: brightness(80%);
          }
        }
      }
    }

    @media (max-width: 1200px) and (min-width: 990px) {
      padding: 20px;
      .recent-blogs {
        .recent-blog {
          flex-direction: column;
          .blog-content {
            h4 {
              a {
                font-size: 16px;
              }
            }
          }
        }
      }
      .feeds {
        .feed {
          img {
            width: 77px;
            height: 70px;
          }
          svg {
            left: 21px;
            top: 18px;
          }
        }
      }
    }
    @media (max-width: 768px) {
      padding: 20px;
      h3 {
        font-size: 20px;
      }
      .categories {
        button {
          padding: 13px 17px;
          font-size: 14px;
        }
      }
      .recent-blogs {
        .recent-blog {
          .blog-content {
            h4 {
              a {
                font-size: 14px;
              }
            }
          }
        }
      }
      .tags{
        .tag {
          font-size: 14px;
        }
      }
    }
    @media (max-width: 550px) {
      .recent-blogs {
        .recent-blog {
          flex-direction: column;
          align-items: baseline;
        }
      }
      .feeds {
        .feed {
          img {
            width: 77px;
            height: 70px;
          }
          svg {
            left: 21px;
            top: 18px;
          }
        }
      }
    }
  }

  &.blog-without-sidebar {
    display: none;
  }
}
