.courseGrid{
  &_rowList{
    display:flex;
    justify-content: space-between;
    align-items: center;
    &_colList-4{
      width: 32%;
      margin-bottom: 20px;
      &_cardCourse{
        position: relative;
        border-bottom: 5px solid var(--whiteColor);
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        margin-bottom: 25px;
        transition: var(--transition);
        background-color: var(--whiteColor);

        .courseImag{
          overflow: hidden;
          border-radius: 10px 10px 0px 0px;
          position: relative;
          img{
            height: 246px;
            transition: var(--transition);
            border-radius: 10px 10px 0px 0px;
          }
          .coursePrice{
            top: 30px;
            right: 30px;
            left: auto;
            bottom: auto;
            padding: 10px 15px;
            border-radius: 4px;
            position: absolute;
            font-size: 18px;
            color: var(--whiteColor);
            font-weight: 500;
            background-color: #1cca81;
          }
        }
        &_courseContent{
          padding: 25px 30px;
          &_ch6{
            color: #1cca81;
            margin-bottom: 18px;
            font-size: 20px;
            font-weight: 500;
          }
          &_ch3{
            line-height: 1.3;
            margin-bottom: 15px;
            font-size: 24px;
            font-weight: 700;
            color: var(--blackColor);
            &:hover {
              color: var(--mainColor);
            }
          }
          &_courseIncons{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            &_blocks{
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 18px;
              font-weight: 500;
              color: #878787;
              position: relative;
              margin-right: 30px;
            }
          }
        }
        &::before {
          top: 0;
          left: 0;
          width: 0px;
          height: 100%;
          content: '';
          z-index: -1;
          opacity: 0;
          visibility: hidden;
          border-radius: 4px;
          position: absolute;
          transition: var(--transition);
          background-color: var(--mainColor);
        }
        &:hover {
          transform: translateY(-10px);
          border-bottom: 5px solid var(--mainColor);
          box-shadow: 0px 35px 55px 0px rgba(0, 0, 0, 0.10);

          .courseImag {
            img {
              transform: scale(1.08);
            }
          }
        }
      }
    }
  }
}