.partner {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 100px;
  height: 130vh;
  &_wrap {
    background: var(--blackColor);
    padding-top: 100px;
    height: 600px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    &_video {
      margin-top: 100px;
      padding-bottom: 90px;
      border-radius: 8px;
      height: 557px;
      margin-bottom: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: {
        size: cover;
        repeat: no-repeat;
        position: center center;
      }
      background-image: url(../../assests/images/video2.jpg);
      &::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        content: "";
        position: absolute;
        border-radius: 10px;
      }
      &_col-4 {
        width: 33%;
        margin-top: 120px;
        &:nth-child(1) {
          display: flex;
          justify-content: right;
        }
        &:nth-child(2) {
          display: flex;
          justify-content: center;
        }
        &_into {
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: rgba(255, 255, 255, 0.3);
          text-transform: uppercase;
          color: transparent;
          font-size: 100px;
          font-weight: 700;
        }
        &_videoShape {
          position: relative;
          max-width: 336px;
          &_vimg {
            animation: border-transform 7s linear infinite alternate forwards;
          }
          &_playBut {
            top: 50%;
            left: 0;
            right: 0;
            width: 104px;
            height: 104px;
            margin: auto;
            font-size: 30px;
            text-align: center;
            position: absolute;
            line-height: 104px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--blackColor);
            transform: translateY(-50%);
            background-color: var(--whiteColor);
            &::before {
              top: -14px;
              bottom: -14px;
              left: -14px;
              right: -14px;
              content: "";
              opacity: 0.12;
              position: absolute;
              border-radius: 152px;
              border: 1px solid var(--whiteColor);
              animation: ripple 4s linear infinite;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1399.5px) {
    &_wrap {
      &_video {
        &_col-4 {
          &_videoShape {
            &_playBut {
              width: 80px;
              height: 80px;
            }
          }
        }
      }
      .swiper-wrapper {
        align-items: center;
      }
    }
  }
  @media (max-width: 1199.5px) {
    &_wrap {
      &_video {
        padding: 90px 60px;
        &_col-4 {
          width: 100%;
          text-align: center;
          &_videoShape {
            &_vimg {
              width: 100%;
            }
          }
          &_into {
            width: 100%;

            font-size: 70px;
          }
        }
      }
    }
  }
  @media (max-width: 991.5px) {
    &_wrap {
      &_video {
        &_col-4 {
          &_into {
            font-size: 55px;
          }
        }
      }
      .swiper-wrapper {
        gap: 20px;
      }
    }
  }
  @media (max-width: 768.5px) {
    &_wrap {
      &_video {
        flex-direction: column;
        &_col-4 {
          margin-top: 25px;
          &_into {
            font-size: 50px;
          }
          &_videoShape {
            &_vimg {
              width: 175px;
            }
          }
        }
      }
      .swiper-wrapper {
        align-items: center;
        gap: 60px;
      }
    }
  }
  @media (max-width: 575.5px) {
    &_wrap {
      &_video {
        height: 620px;
        &_col-4 {
          &_videoShape {
            &_vimg {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
