h2 {
  line-height: 1.2;
  font-size: 44px;
  color: #000;
  margin-bottom: 13px;
  @media (max-width: 1280px) {
    font-size: 35px;
    margin-bottom: 13px;
  }
  @media (max-width: 770px) {
    font-size: 27px;
    margin-bottom: 10px;
  }}


.team-area {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .info {
    p {
      font-size: 18px;
      font-weight: 500;
    }
    button {
      width: 250px;
      height: 60px;
    }
  }
  .member-card {
    a {
      img {
        width: 25%;
      }
    }
  }
}