.carousel {
  &_tesText {
    width: 90%;
    margin-bottom: 15px;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 15px;
    color: var(--bodyColor);
  }
  &_tesName {
    margin-bottom: 8px;
    color: var(--blackColor);
    font: {
      size: 20px;
      weight: 500;
    }
  }
  &_tesRole {
    font-size: 16px;
    font-weight: 500;
    color: var(--bodyColor);
  }
  &_owl {
    position: relative;

    &_custom-prev,
    &_custom-next {
      right: 100px;
      bottom: 0;

      width: 60px;
      height: 60px;
      font-size: 20px;
      line-height: 60px;
      margin-right: 20px;
      text-align: center;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      position: absolute;
      border: 1px solid #878787;
      transition: var(--transition);
      color: rgba(135, 135, 135, 1);
      background-color: var(--whiteColor);
      cursor: pointer;
    }

    &_custom-prev {
      right: 200px;
    }
    //
    //.custom-next {
    //  //top: 220px;
    //  right: 50px;
    //}

    &_custom-prev:hover,
    &_custom-next:hover {
      color: var(--whiteColor);
      border-color: var(--mainColor);
      background-color: var(--mainColor);
      transition: all 0.3s ease;
    }
  }
  @media (max-width: 1399.5px) and (min-width: 991.5px) {
    &_owl {
      &_custom-prev {
        right: 90px;
        width: 50px;
        height: 50px;
        svg {
          width: 20px;
        }
      }
      &_custom-next {
        right: 20px;
        width: 50px;
        height: 50px;
      }
    }
  }
  @media (max-width: 768.5px) {
    &_owl {
      &_custom-prev {
        right: 150px;
        width: 40px;
        height: 40px;
      }
      &_custom-next {
        right: 80px;
        width: 40px;
        height: 40px;
      }
    }
  }
  @media (max-width: 550.5px) {
    &_owl {
      &_custom-prev {
        right: 70px;
        width: 40px;
        height: 40px;
      }
      &_custom-next {
        right: 10px;
        width: 40px;
        height: 40px;
      }
    }
  }
}
