.pageTitleArea {
  position: relative;
  margin-top: 112px;

  &_titleHead {
    background-color: #fff7fc;
    //height: 85vh;
    padding-top: 250px;
    padding-bottom: 157px;

    &_aboutContent {
      text-align: center;

      &_aboutus {
        margin-bottom: 13px;
        color: var(--blackColor);
        font-size: 44px;
        font-weight: 700;
      }

      &_aboutList {
        display: inline-block;
        padding-right: 13px;
        position: relative;
        color: var(--mainColor);
        font-size: 18px;
        font-weight: 700;

        &::before {
          top: 15px;
          right: 0;
          content: "";
          width: 7px;
          height: 2px;
          position: absolute;
          background-color: var(--blackColor);
        }

        &_textAbout {
          color: var(--blackColor);
          transition: var(--transition);
          &:hover {
            color: var(--mainColor);
          }
        }
      }

      &_colChange {
        display: inline-block;
        margin-left: 5px;
        color: var(--mainColor);
        font-size: 18px;
        font-weight: 700;
      }
    }
    &_pages1 {
      top: 0;
      left: 0;
      right: 0;
      z-index: 0;
      margin: auto;
      text-align: center;
      position: absolute;
    }
    &_pages2 {
      left: 0;
      bottom: 0;
      z-index: 0;
      position: absolute;
    }
    &_pages3 {
      right: 0;
      bottom: 0;
      z-index: 0;
      position: absolute;
    }
    &_pages4 {
      right: 431px;
      bottom: 116px;
      z-index: 0;
      position: absolute;
    }
    &_pages5 {
      top: 229px;
      left: 154px;
      z-index: 0;
      position: absolute;
    }
  }

  @media (max-width: 1300px) {
    &_titleHead {
      &_pages1 {
        img {
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 768px) {
    &_titleHead {
      &_pages1,
      &_pages2,
      &_pages3,
      &_pages4,
      &_pages5 {
        display: none;
      }
    }
  }
}
