.container {
  .row {
    .col-lg-8 {
      max-width: 100%;
      .course-details-left-sidebar {
        margin-bottom: 25px;
        .course-details-card {
          margin-bottom: 50px;
          .image {
            margin-bottom: 40px;
            img {
              border-radius: 8px;
            }
          }
          .science {
            font-weight: 500;
            padding: 8px 20px;
            border-radius: 4px;
            margin-bottom: 25px;
            color: var(--whiteColor);
            background-color: #1cca81;
          }
          h3 {
            line-height: 1.5;
            margin-bottom: 25px;
            color: var(--blackColor);
            font-size: 44px;
            font-weight: 700;
          }
          .list-unstyled {
            display: flex;
            .d-inline-block {
              font-weight: 500;
              position: relative;
              margin-right: 125px;
              color: var(--blackColor);
              span {
                color: #1cca81;
              }
              img {
                left: 0;
                top: 50%;
                width: 44px;
                height: 44px;
                position: absolute;
                border-radius: 2px;
                transform: translateY(-50%);
                border: 4px solid var(--whiteColor);
                box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.07);
              }
              &:first-child {
                padding-left: 60px;
              }
            }
          }
        }
      }
      .rs-tabs{
        margin-bottom: 40px;
        .rs-nav {
          margin-bottom: 40px;
          --bs-nav-link-padding-x: 1rem;
          --bs-nav-link-padding-y: 0.5rem;
          --bs-nav-link-font-weight: ;
          --bs-nav-link-color: var(--bs-link-color);
          --bs-nav-link-hover-color: var(--bs-link-hover-color);
          --bs-nav-link-disabled-color: var(--bs-secondary-color);
          display: flex;
          flex-wrap: wrap;
          padding-left: 0;
          --bs-nav-pills-border-radius: var(--bs-border-radius);
          --bs-nav-pills-link-active-color: #fff;
          --bs-nav-pills-link-active-bg: #0d6efd;
          .rs-nav-item {
            border-radius: 0;
            padding: 16px 65px;
            color: var(--bodyColor);
            transition: var(--transition);
            background-color: #f0f0f0;
            font-size: 18px;
            font-weight: 700;
            font-family: var(--fontFamily);
            border: none;
            margin-right: 1px;
            &:hover {
              color: var(--whiteColor);
              background-color: var(--mainColor);
            }
          }
          .rs-nav-item-active {
            color: var(--whiteColor);
            background-color: var(--mainColor);
          }
        }
      }
    }

    display: grid;
    grid-template-columns: 20fr 9fr;
    gap: 24px;
    @media (max-width: 990px) {
      grid-template-columns: 1fr;
    }
  }
}
