.fun-fact {
  position: relative;
  z-index: 1;
  background-image: url("../../../../assests/images/funfact-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    position: absolute;
    background: linear-gradient(0deg, rgba(14, 26, 45, 0.8) 0%, rgba(14, 26, 45, 0.8) 100%), 0px -214.922px / 100% 243.281%;
  }
  &_rowFun{
    display: flex;
    &_colThree{
      width: 25%;
      //border: 1px solid black;
      &_singInfoFun{
        position: relative;
        transition: var(--transition);

        .funImage{
          opacity: 0;
          visibility: hidden;
          position: relative;
          transition: var(--transition);
          &::before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            mix-blend-mode: multiply;
            background-color: var(--mainColor);
          }
        }
        &_funContent{
          top: 50%;
          left: 0;
          position: absolute;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          &_funIcon{
            width: 100px;
            height: 100px;
            flex: 0 0 auto;
            margin-right: 20px;
            text-align: center;
            line-height: 9;
            display: inline-block;
            border-radius: 0px 100px 100px 0px;
            background-color: var(--whiteColor);
          }
          &_funText{
            margin-bottom: 8px;
            color: var(--whiteColor);
            font-size: 34px;
            font-weight: 700;
          }
          &_funDes{
            color: var(--whiteColor);
            font-size: 18px;
            font-weight: 500;
          }
        }
        &::before {
          top: 0;
          left: 0;
          width: 1px;
          height: 100%;
          content: "";
          z-index: 1;
          position: absolute;
          transition: var(--transition);
          border-left: 1px solid var(--whiteColor);
        }
        &:hover {
          .funImage {
            opacity: 2;
            visibility: visible;
          }
          &::before {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
}