.hero {
  position: relative;
  margin-top: 112px;
  height: 110vh;
  background: var(--blackColor);
  overflow: hidden;

  .flex {
    display: flex;
    justify-content: space-between;
  }

  &_card {
    width: 50%;

    &_animation {
      display: flex;
      justify-content: center;

      &_lines {
        margin-top: 50px;
        max-width: 65px;
      }

      &_triangle {
        display: block;
        margin: auto;
        animation: rotate 15s linear infinite;
        max-width: 100px;
      }
    }

    &_title {
      margin-top: 100px;

      &_gradient {
        font-size: 18px;
        font-weight: 700;
        background: linear-gradient(90deg, #0000ff, #00ff00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
      }

      &_bigGradient {
        line-height: 1.3;
        font-size: 60px; // Matn o'lchami
        font-weight: 700; // Qalin matn
        color: var(--whiteColor);

        &_colors {
          background: linear-gradient(
            90deg,
            #0000ff,
            #00ff00
          ); // Gradient ranglar
          -webkit-background-clip: text; // Matnga cheklash
          -webkit-text-fill-color: transparent; // Matnni shaffof qilish
          position: relative; // Chiziqni joylashtirish uchun
          &_lines {
            width: 70%;
            margin: 0 auto;
            position: absolute;
            bottom: 0;
            left: 40px;
          }
        }
      }

      &_des {
        font-size: 20px;
        line-height: 1.5;
        margin-top: 10px;
        color: var(--whiteColor);
        font-weight: 500;
      }

      &_dot {
        &_shape {
          animation-duration: 5s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-name: MOVE-BG;
        }
      }

      &_buttonList {
        //border: 1px solid bisque;
        margin-top: 20px;
        display: flex;
        align-items: center;

        &_btn {
          z-index: 1;
          position: relative;
          font-size: 18px;
          font-weight: 700;
          display: inline-block;
          border-radius: 5px;
          padding: 15px 30px 15px 100px;
          color: var(--whiteColor);
          transition: 0.5s;
          border: 1px solid var(--whiteColor);
          overflow: hidden;

          &_imgs {
            top: 50%;
            left: 0;
            position: absolute;
            padding: 19px 20px;
            background: var(--whiteColor);
            border-radius: 4px 0px 0px 4px;
            transition: 0.5s ease-in-out;
            transform: translateY(-50%);
          }

          &::before {
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            content: "";
            z-index: -1;
            position: absolute;
            transition: 0.5s;
            background-color: var(--whiteColor);
          }

          &:hover {
            color: #333333;

            &_imgs {
              left: 15px; /* Tasdiqlash uchun `left` o'zgarishi */
            }

            &::before {
              width: 100%;
            }
          }
        }

        &_play {
          width: 60px;
          height: 60px;
          font-size: 48px;
          margin-left: 40px;
          line-height: 60px;
          border-radius: 100%;
          text-align: center;
          //display: inline-block;
          //margin-top: 5px;
          transition: 0.5s;
          background: var(--whiteColor);
          color: var(--mainColor);

          display: flex;
          align-items: center;
          justify-content: center;

          &_buttonPlay {
            width: 38px;
            content: "\f00a";
            height: 35px;
            border-radius: 50%;
            margin: 0 auto;
          }

          &:hover {
            background: var(--mainColor);
            color: var(--whiteColor);
          }
        }
      }
    }
  }

  &_box {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    &_banner {
      &_dot {
        display: flex;
        justify-content: right;
        align-items: end;

        &_shape {
          animation-duration: 5s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-name: MOVE-SHAPE;
        }
      }

      &_mainBanner {
        max-width: 561px;
        height: 90%;
      }
    }

    &_info {
      display: flex;
      align-items: center;
      right: 100px;
      bottom: 150px;
      padding: 20px;
      max-width: 296px;
      position: absolute;
      border-radius: 10px;
      transition: 0.5s;
      background: var(--whiteColor);
      box-shadow: 0px 35px 55px 0px rgba(0, 0, 0, 0.08);

      &_content {
        &_h33 {
          font-size: 20px;
          font-weight: 500;
          transition: 0.5s;
          //color: #000;
          margin-bottom: 8px;
        }

        &_dess {
          //color: ;
          transition: 0.5s;
          font-size: 16px;
          font-weight: 500;
        }
      }
      &_messageIcon {
        width: 60px;
        height: 60px;
        margin-left: 15px;
        line-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 100%;
        //display: inline-block;
        background: linear-gradient(100deg, #0063f4 7.82%, #00f0aa 87.12%);
      }
      &::before {
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        content: "";
        z-index: -1;
        position: absolute;
        transition: 0.5s;
        border-radius: 10px 0px 0px 10px;
        background-color: var(--mainColor);
      }
      &:hover {
        transform: translateY(-7px);
        color: var(--whiteColor);

        &::before {
          opacity: 1;
          width: 100%;
          border-radius: 10px;
          visibility: visible;
        }
      }
    }
  }

  @media (max-width: 1399.5px) {
    height: 100%;
    &_card {
      &_title {
        &_bigGradient {
          font-size: 55px;
        }
        &_buttonList {
          &_btn {
            padding: 10px 10px 10px 80px;
            font-size: 16px;
          }
        }
      }
    }
  }
  @media (max-width: 1199.5px) {
    &_card {
      &_title {
        &_bigGradient {
          font-size: 50px;
        }
      }
    }
  }
  @media (max-width: 991.5px) {
    height: auto;
    .flex {
      flex-direction: column;
    }
    &_card {
      width: 100%;
      &_title {
        &_bigGradien {
          font-size: 40px;
          br {
            display: none;
          }
        }
      }
    }
    &_box {
      width: 100%;
    }
  }
  @media (max-width: 768.5px) {
    &_card {
      &_title {
        &_gradient,
        &_des {
          font-size: 16px;
        }
        &_bigGradient {
          font-size: 30px;
        }
      }
    }
    &_box {
      &_info {
        &_content {
          &_h33 {
            font-size: 18px;
          }
          &_dess {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); // Boshlang'ich holat
  }
  100% {
    transform: rotate(360deg); // Yakuniy holat
  }
}

@keyframes MOVE-BG {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes MOVE-SHAPE {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0);
  }
}
