.blog-card {
  width: 856px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
  .image {
    overflow: hidden; /* Обрезает изображение при увеличении */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0px 0px;

    position: relative;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      transition: var(--transition);
      &:hover {
        transform: scale(1.05);
      }
    }
    span {
      position: absolute;
      top: 16px;
      left: 16px;
      padding: 6px 17px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 400;
      color: var(--whiteColor);
      background-color: #1cca81;
    }
  }
  .content {
    display: grid;
    padding: 30px;
    gap: 20px;
    ul {
      display: flex;
      gap: 30px;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        a {
          font-size: 16px;
          font-weight: 500;
          color: var(--bodyColor);
          &:hover {
            color: var(--mainColor);
          }
        }
        svg {
          color: #1cca81;
        }
      }
    }
    h3 {
      max-width: 626px;
      a {
        font-size: 34px;
        font-weight: 700;
        color: var(--blackColor);
        &:hover {
          color: var(--mainColor);
        }
      }
    }
    p {
      font-size: 16px;
      font-weight: 500;
      color: var(--bodyColor);
    }
    .read-more {
      font-size: 18px;
      font-weight: 600;
      color: var(--bodyColor);
      &:hover {
        color: var(--blackColor);
      }
    }
  }

  @media (max-width: 1400px) {
    width: 736px;

    .content {
      h3 {
        a {
          font-size: 30px;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    width: 616px;

    .content {
      h3 {
        a {
          font-size: 27px;
        }
      }
      .read-more {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 990px) {
    width: 330px;

    .content {
      gap: 15px;
      h3 {
        a {
          font-size: 25px;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
  @media (max-width: 768px) {
    width: 516px;

    .content {
      gap: 15px;
      h3 {
        a {
          font-size: 20px;
        }
      }
    }
  }
  @media (max-width: 576px) {
    width: 100%;
  }

}
