.section-title {
  max-width: 100%;
  margin-bottom: 40px;
  .subtitle {
    font-size: 18px;
    background: linear-gradient(100deg, #0063f4 8.82%, #00f0aa 95.12%);
    -webkit-background-clip: text; // Применяем фон только к тексту
    -webkit-text-fill-color: transparent; // Прозрачный текст, через который видно градиент
    font-weight: 700;
  }
  h2 {
    .gradient_text {
      display: inline-flex;
      background: linear-gradient(100deg, #0063f4 8.82%, #00f0aa 95.12%);
      -webkit-background-clip: text; // Применяем фон только к тексту
      -webkit-text-fill-color: transparent; // Прозрачный текст, через который видно градиент
      font-weight: 700;
      padding-left: 10px;
    }
    img {
      display: block;
      margin-top: -3px;
    }
  }

  @media (max-width: 768px) {
    .subtitle {
      font-size: 16px;
    }
  }
}
