.coursesArea{
  margin-top: 80px;
  background: #fff7fc;
  padding-bottom: 40px;
  &_headings{
    &_subTitle{
      background: linear-gradient(90deg, #0000FF, #00FF00); // Gradient ranglar
      -webkit-background-clip: text; // Matnga cheklash
      -webkit-text-fill-color: transparent; // Matnni shaffof qilish
      position: relative; // Chiziqni joylashtirish uchun
      background-clip: text;
      margin-bottom: 12px;
      margin-top: 100px;
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
    }
    &_boxs{
      display: flex;
      justify-content: space-between;
      align-items: center;

      //align-content: center;
      &_col5{
        width: 48%;
        &_subb{
          line-height: 1.3;
          color: var(--blackColor);
          font-size: 44px;
          font-weight: 700;
          margin-bottom: 40px;
          &_spans{
            background: linear-gradient(90deg, #0000FF, #00FF00); // Gradient ranglar
            -webkit-background-clip: text; // Matnga cheklash
            -webkit-text-fill-color: transparent; // Matnni shaffof qilish
            position: relative; // Chiziqni joylashtirish uchun
            &_liness{
              width: 100%;
              margin: 0 auto;
              position: absolute;
              bottom: -5px;
              left: 0;
            }
          }
        }
        &_but{
          display: flex;
          justify-content: end;
          &_buttons{
            z-index: 1;
            position: relative;
            padding: 17px 30px;
            border: none;
            outline: none;
            border-radius: 4px;
            display: flex;
            gap: 10px;
            align-items: center;
            //display: inline-block;
            color: var(--whiteColor);
            background-color: var(--mainColor);
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            &::before{
              top: 0;
              left: 0;
              width: 0;
              height: 100%;
              content: "";
              z-index: -1;
              position: absolute;
              border-radius: 4px;
              transition: var(--transition);
              background-color: var(--blackColor);
            }
            &:hover {
              &::before {
                width: 100%;
              }
            }
          }
        }
        &_coursInfo{
          padding: 30px;
          border-radius: 8px;
          margin-top: 30px;
          margin-bottom: 25px;
          display: flex;
          justify-content: space-between;
          transition: var(--transition);
          background-color: var(--whiteColor);
          border-bottom: 3px solid var(--whiteColor);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);
          &_CoursImg{
            width: 25%;
            flex: 0 0 auto;
            display: block;
            overflow: hidden;
            border-radius: 4px;
            margin-right: 26px;

            &_pho{
              width: 151px;
              height: 160px;
              border-radius: 4px;
              transition: var(--transition);
              &:hover{
                transform: scale(1.08);
              }
            }
          }
          &_cont{
            width: 70%;
            &_free{
              display: flex;
              justify-content: space-between;
              //color: var(--mainColor);
              transition: var(--transition);
              font-size: 18px;
              font-weight: 700;
              margin-bottom: 20px;
              .star{
                color: rgb(255, 188, 31);
              }
            }
            &_basic{
              max-width: 390px;
              line-height: 1.3;
              margin-bottom: 25px;
              font-size: 24px;
              font-weight: 700;
              cursor: pointer;
              color: var(--blackColor);
              &:hover {
                color: var(--mainColor);
              }
            }
            &_lesson{

              &_dark{
                display: flex;
                gap: 5px;
                color: var(--bodyColor);
                position: relative;
                font-size: 16px;
                font-weight: 500;
                align-items: center;
              }
            }
          }
          &:hover {
            transform: translateY(-7px);
            border-color: var(--mainColor);
            color: #1cca81;
          }
        }
      }
    }
  }
}