.card-wrapper {
  border-radius: 8px;
  background-color: var(--mainColor);
  
  .courses-list-card {
    display: flex;
    gap: 24px;

    padding: 20px;
    transition: all 0.5s ease-in-out;

    background-color: #fff;
    border-radius: 8px;
    .image {
      img {
        border-radius: 4px;
        max-width: 150px;
      }
    }
    .content {
      display: grid;
      justify-content: space-between;
      .star-icon {
        display: flex;
        justify-content: space-between;
        .price {
          font-size: 16px;
          font-weight: 700;
          color: var(--mainColor);
          transition: color .5s ease-in-out;
        }
        ul {
          display: flex;
          gap: 5px;
          li {
          }
        }
      }

      h3 {
        font-size: 24px;
        font-weight: 700;
        a {
          color: #000;
          &:hover {
            color: var(--mainColor);
          }
        }
      }

      .list-unstyled {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 500;
          gap: 5px;
          color: rgb(85, 85, 85);
        }
      }
    }
    
    &:hover {
      transform: translateY(-8px);
      .image {
        img {

          transform: scale(1.05);
        }
      }
      .star-icon {
        .price {
          color: rgb(28, 202, 129);
        }
      }
    }

    @media (max-width: 1280px) {
      .content {
        h3 {
          font-size: 18px;
          margin-bottom: 18px;
        }
      }
    } 
    @media (max-width: 550px) {
        display: grid;

    }

  }
}
