.slider{
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  &_cc{
    width: 20%;
    height: 80px;
    border: 1px solid #25333b;
    align-items: center;
    display: flex!important;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 16px;
    margin-bottom: 30px;

    &_sliderImg{
      width: 80%;
      display: flex;
      margin: 0 auto;

    }
  }
}

@media (max-width: 562px) {
  .slider{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    &_cc{
      width: 33%;
    }
  }
}
@media (max-width: 832px){
  .slider{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    &_cc{
      width: 33%;
    }
  }
}
@media (max-width: 900px){
  .slider{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    &_cc{
      width: 33%;
    }
  }
}
@media (max-width: 1024px){
  .slider{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    &_cc{
      width: 33%;
    }
  }
}
@media (max-width: 1120px) {
  .slider{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    &_cc{
      width: 33%;
    }
  }
}